<footer class="page__footer">
  <div class="page__footer-contact">
    <strong>Contact</strong><br>
    <a href="mailto:congc@stanford.edu">congc@stanford.edu</a>
    <br><br>
    <a href="https://scholar.google.com/citations?user=KoFMlFQAAAAJ&hl=en">Google Scholar</a>
    · <a href="https://github.com/congca0">GitHub</a>
    · <a href="https://orcid.org/0000-0001-8289-1705">ORCID</a>
    · <a href="https://www.linkedin.com/in/cong-cao-70068839b/">LinkedIn</a>
  </div>

  <div class="page__footer-copyright">
    © {{ site.time | date: '%Y' }} Cong Cao
  </div>
</footer>
